# Visual Studio Code
.vscode/

# Docker
digital_twin_export_pipelines/plain_urdf/.env
digital_twin_export_pipelines/muJoCo/.env
digital_twin_export_pipelines/webots/.env
digital_twin_export_pipelines/threeJS/.env
docker_testing_workspace/.env